<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="_csrf" content="" th:attr="content=${_csrf.token}" />
    <meta name="_csrf_header" content="" th:attr="content=${_csrf.headerName}"/>
    <base href="" th:href="${#httpServletRequest.getContextPath()}+'/'" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="/css/style.css" rel="stylesheet">
    <title>Palindrome search</title>

</head>
<body>
<table class="basic">
    <tr>
        <td class="top">
            <h1>Palindrome search</h1>
        </td>
    </tr>
    <tr>
        <td class="logininfo">
            <div class="circle" th:if="${#httpServletRequest.remoteUser}">
                <h2 id="loggedUser" >User: <span th:text="${userName}"></span></h2>
                <form th:action="@{/logout}" method="post">
                    <input type="submit" value="Sign Out"/>
                </form>
            </div>

            <div class="circle" th:unless="${#httpServletRequest.remoteUser}">
                <h2 id="loggedUser">User: Guest</h2>
                <div class="error" th:if="${param.error}">
                    Invalid email and password.
                </div>
                <form id="formLogin" th:action="@{/login}" method="post">
                    <input id="login" type="text" name="username" placeholder="email" />
                    <input id="pass" type="password" name="password" placeholder="password"/>
                    <input type="submit" value="Login"/>
                    <button type="button" onclick="loginAsWizard()">Login as wizard</button>
                    <input type="button" onclick="window.location.href = '/register';" value="Register"/>
                </form>
            </div>
        </td>
    </tr>
    <tr>
        <td class="content">
            <table class="basic">
                <tr>
                    <td width="30%" style="vertical-align: text-top;">
                        <div class="circle">
                            <div>
                                <div><p> Find your palindrome:</p>
                                    <div style="display: inline-block;" th:if="${#httpServletRequest.remoteUser}">
                                        <input type="number" name="value" id="calcvalue" min="1" pattern="\d*" placeholder="100" onkeypress="keyPress(event)" />
                                    </div>
                                    <div style="display: inline-block;" th:unless="${#httpServletRequest.remoteUser}">
                                        <input type="number" name="value" id="calcvalue" pattern="\d*"
                                               onkeypress="if(this.value.length==6) {return false;} else {keyPress(event);} " min="0" placeholder="100" />
                                    </div>
                                    <button type="button" onclick="getCalculation()">Find</button>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td width="30%"></td>

                    <td width="30%">
                        <p>HISTORY</p>
                        <div class="circle" >
                            <!--<div style="width: 100%" id="historyList"></div>-->
                            <textarea style="width: 100%;" rows="10" id="historyList"></textarea>
                        </div>
                        <br>
                        <div style="display: none;" id="waitMessage">Wait for calculation</div>
                        <div class="circle" id="resultField"></div>

                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>



<script>
    $(function () {
        getHistory()
    });

    function loginAsWizard() {
        $('#login').val("wizard@gmail.com");
        $('#pass').val("password");
        $('#formLogin').submit();
    }

    function getHistory() {
        const ajaxUrl = "ajax/history";

        $.ajax({
            type: "GET",
            url: ajaxUrl,
            dataType: "json",
            data: {},
            success: function(data){
                if(!jQuery.isEmptyObject(data)) {
                    var text = "";
                    $.each(data, function(i, item) {
                        text = text + item[1] + "\n";
                    });
                    $('#historyList').html(text);
                }
            }
        });
    }

    function getCalculation() {
        let wait = $('#waitMessage');
        wait.attr("style", "display: block;");

        const ajaxUrl = "ajax/value/";
        let value = $('#calcvalue').val();

        $('#resultField').html("");

        var text = $('#historyList').html();
        $('#historyList').html(value  + "\n" +  text.trim());

        $.ajax({
            type: "GET",
            url: ajaxUrl + value,
            dataType: "json",
            data: {},
            success: function(data){
                if(!jQuery.isEmptyObject(data)) {
                    if(data.guest.toString() === "true".toString()) {
                        $('#historyList').html(value);
                        if($('#loggedUser').html().indexOf("User: Guest") == -1) {
                            $('#loggedUser').html("User: Guest");
                        }
                    }

                    if(data.info != "") {
                        alert(data.info);
                    } else {
                        var text = "For "  + data.value + "<br>" +
                                   "Min: " + data.minUI  + "<br>" +
                                   "Max: " + data.maxUI;

                        $('#resultField').html(text);

                        text = "";
                        if(data.history.length > 0) {
                            $.each(data.history, function (i, item) {
                                text = text + item[1] + "\n";
                            });
                            $('#historyList').html(text);
                        }
                    }
                }
            }
        });
        wait.attr("style", "display: none;");
    }

    function keyPress(e) {
        if (e.keyCode == 13) {
            getCalculation();
        }
    }
</script>
</body>
</html>