<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Spring Security Example</title>
    </head>
    <body>
        <h1 th:if="${#httpServletRequest.remoteUser}">Welcome [[${#httpServletRequest.remoteUser}]]!</h1>
        <h1 th:unless="${#httpServletRequest.remoteUser}">Welcome!</h1>
        <!--<p>Click <a th:href="@{/hello}">here</a> to see a greeting.</p>-->
        <form th:action="@{/login}" method="post">
            <input type="hidden" name="username" value="user@gmail.com"/>
            <input type="hidden" name="password" value="password"/>
            <input type="submit" value="Login as User"/>
        </form>

        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>

    </body>
</html>